[include]
  path = ~/.gitconig.local
[color]
  ui = auto
[format]
  numbered = auto
[core]
  legacyheaders = false
  excludesfile = ~/dotfiles/git/.gitignore
  whitespace = trailing-space,space-before-tab
  quotepath = false
  autocrlf = false
  safecrlf = true
  pager = delta
[apply]
  whitespace = warn
[repack]
  usedeltabaseoffset = true
[branch]
  autosetupmerge = true
  autosetuprebase = always
[pager]
  status = false
[github]
  ssl = true
[diff]
  tool = kitty
  colorMoved = default
[delta]
  navigate = true
  diff-so-fancy = true
[difftool "kitty"]
  cmd = kitty +kitten diff $LOCAL $REMOTE
  prompt = false
  trustExitCode = true
[interactive]
  diffFilter = delta --color-only
[merge]
  conflictstyle = diff3
[advice]
  pushNonFastForward = false
  statusHints = false
[push]
  default = tracking
[rerere]
  enabled = true
[credential]
  helper = osxkeychain
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[init]
  defaultBranch = master
